body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
}

header {
  background: #222;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background: #007BFF;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background: #0056b3;
}

section {
  padding: 20px;
  display: none;
}

.pagina.ativa {
  display: block;
}

#lista-categorias, #lista-produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.categoria, .produto {
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}